// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.nav-item.active {
    background-color: #204e7c;
    color: white;

    a {
        color: white;
    }
}

